# build / generated
*.o
*.d
*.asm
*.sym
*.out
*.img
bootblock
bootblock.o
bootblockother.o
kernel
kernelmemfs
kernel.asm
kernel.sym
xv6.img
fs.img
mkfs
_init
_cat
_echo
_forktest
_grep
_init
_kill
_ln
_ls
_mkdir
_rm
_sh
_stressfs
_usertests
_wc
_zombie
_nice
_burn
_primework
_test1
_test3
.gdbinit
*.log
*.aux
*.toc
*.idx
*.ilg
*.ind
.DS_Store